<div class="container">
  
  <table class="table">
    <thead>
      <tr>
        <th>商品名</th>
        <th>単価（税込）</th>
        <th>数量</th>
        <th>小計</th>
        <th>制作ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @order.each do |order| %>
      <tr>
        <td><%= order.order_list.item.name %></td>
        <td><%= order.order_list.total_price %></td>
        <td><%= order.order_list.quantity %></td>
        <td><%= order.order_list.total_price %></td>
        <td></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>