// Place all the styles related to the admin/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.space {
  width: 100%;
  height: 15px;
}

.textcenter {
  height: 45px;
  padding-top: 15px;
  margin: 0 auto;
}